beautifulsoup4>=4.11.2
Flask==2.2.2
goose3==3.1.12
newsapi_python==0.2.7
numpy==1.24.1
openai==0.27.2
pandas==1.5.3
pymilvus==2.2.2
pytest==7.2.2
python-dotenv==1.0.0
requests==2.28.2
setuptools==65.6.3
tiktoken==0.3.3
