.large-container {
	margin: 3px;
	padding: 3px;
}
.header-area * {
	margin-bottom: 0px;
}
.header-area h3 {
	margin-top: 5px;
}
.param-area * {
	margin-top: 0px;
	margin-bottom: 0px;
}
#kSimRange {
	margin-bottom: 5px;
}
.text-area {
	border-color: darkgrey;
	border: solid 5px;
	width: 75vw;
	height: 50vh;
	font-size: 12pt;
}
.query-text {
	width: 50vw;
}
.query-response {
	margin-bottom: 3px;
}
.text-block {
	display: flex;
	width: 70wh;
}
.text-block p {
	margin: 0px;
	display: inline;
	overflow-wrap: anywhere;
	hyphens: manual;
}
.user-queries {
	background-color: lightcyan;
}
.model-responses {
	background-color: lightblue;
}
.system-messages {
	background-color: darkorange;
}