<!DOCTYPE html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>Index Page</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
		<script src="{{ url_for('static', filename='app.js') }}"></script>
	</head>
	<body>
		<div class="large-container header-area">
			<h3>What's Moving the Stock Market Today OpenAI Chatbot</h3>
			<p>Powered by OpenAI GPT</p>
			<p>Model used: <span id="modelName">{{model_name}}</span></p>
		</div>
		<hr>
		<div class="large-container param-area">
			<p>k Similarity: <span label="kSimLabel">3</span></p>
			<input type="range" min="1" max="5" value="3" class="slider" id="kSimRange" oninput="updateKSimValue()">
			<p>Conversation memory: <span label="memoryLabel">3</span></p>
			<input type="range" min="1" max="5" value="3" class="slider" id="memoryRange" oninput="updateMemoryValue()">
		</div>
		<div class="text-area large-container" id="chat-area">
		</div>
		<div class="text-field large-container">
			<form id="send-query-form" onsubmit="this.reset();return false;">
				<label for="text">Talk with the model</label><br>
				<input class="query-text" type="text" name="question">
				<input type="submit" value="Submit" onclick="updateTextArea()">
			</form>
		</div>
		<div class="large-container">
			<button type="button" onclick="downloadConvo()">Download conversation as CSV file</button>
			<button type="button" onclick="uploadSavedConvo()">Upload saved conversation</button>
		</div>
		<div class="large-container">
			<button type="button" onclick="clearMemory()">Clear Current Conversation Memory</button>
			<button type="button" onclick="clearAll()">Clear Entire Conversation</button>
		</div>
		<hr>
		<div class="large-container footer-area">
			<p>APIs, libraries used:</p>
			<p>OpenAI, News API, Milvus, LlamaIndex, Flask</p>
		</div>
	</body>
</html>
